<div class="about">
    <div class="imgFp">
        <img src="./me.jpg" alt="saya">
    </div>
    <div class="tentang">
        <p>"Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis recusandae amet voluptatum itaque ducimus aliquid, at fuga aspernatur repellat quo consequuntur vitae, voluptates in laudantium temporibus? Nulla ad, corporis quod hic dolorum voluptates totam suscipit tenetur, dolorem rem quas perspiciatis libero minima culpa! Voluptate laborum, esse repellendus dolores aspernatur corporis, inventore iste odio expedita quibusdam quis omnis sequi nostrum. Quod, minus quas hic vero non nesciunt libero incidunt eligendi, totam suscipit excepturi placeat dolor! Dolorum facilis porro, voluptatum laborum autem laboriosam quos eligendi perferendis eveniet blanditiis vel fuga. Error sit soluta pariatur voluptatibus magnam similique consequuntur dicta amet repellendus ea."</p>
        <div class="title">
            <h1>MOH. DIA'UDDIN MAULIDI</h1>
            <h2>KEPALA SEKOLAH</h2>
        </div>
    </div>
</div>