<mat-toolbar>
  <div class="email">
    <i class="fa-solid fa-envelope"></i>
    <span>example&#64;gmail.co.id</span>
  </div>
  <div class="phone">
    <i class="fa-solid fa-phone"></i>
    <span>087812345678</span>
  </div>
  <span class="example-spacer"></span>
  <div class="bendera">
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <img src="./indonesia.png" alt="indonesia">
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <img src="./united-kingdom.png" alt="english">
    </button>
  </div>
</mat-toolbar>